-- DropIndex
DROP INDEX "exchange_rates_fromCurrency_toCurrency_effectiveDate_key";

-- DropIndex
DROP INDEX "invoice_counters_prefix_year_month_key";

-- DropIndex
DROP INDEX "motorcycles_vin_idx";

-- DropIndex
DROP INDEX "motorcycles_vin_key";

-- DropIndex
DROP INDEX "products_sku_key";

-- DropIndex
DROP INDEX "spareparts_sku_key";

-- AlterTable
ALTER TABLE "cash_flows" ADD COLUMN     "userId" TEXT NOT NULL;

-- AlterTable
ALTER TABLE "exchange_rates" ADD COLUMN     "userId" TEXT NOT NULL;

-- AlterTable
ALTER TABLE "expenses" ADD COLUMN     "userId" TEXT NOT NULL;

-- AlterTable
ALTER TABLE "invoice_counters" ADD COLUMN     "userId" TEXT NOT NULL;

-- AlterTable
ALTER TABLE "products" ADD COLUMN     "userId" TEXT NOT NULL;

-- AlterTable
ALTER TABLE "sparepart_sales" ADD COLUMN     "userId" TEXT NOT NULL;

-- AlterTable
ALTER TABLE "spareparts" ADD COLUMN     "userId" TEXT NOT NULL;

-- AlterTable
ALTER TABLE "suppliers" ADD COLUMN     "userId" TEXT NOT NULL;

-- CreateIndex
CREATE INDEX "cash_flows_userId_idx" ON "cash_flows"("userId");

-- CreateIndex
CREATE INDEX "exchange_rates_userId_idx" ON "exchange_rates"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "exchange_rates_userId_fromCurrency_toCurrency_effectiveDate_key" ON "exchange_rates"("userId", "fromCurrency", "toCurrency", "effectiveDate");

-- CreateIndex
CREATE INDEX "expenses_userId_idx" ON "expenses"("userId");

-- CreateIndex
CREATE INDEX "invoice_counters_userId_idx" ON "invoice_counters"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "invoice_counters_userId_prefix_year_month_key" ON "invoice_counters"("userId", "prefix", "year", "month");

-- CreateIndex
CREATE INDEX "products_userId_idx" ON "products"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "products_userId_sku_key" ON "products"("userId", "sku");

-- CreateIndex
CREATE INDEX "sparepart_sales_userId_idx" ON "sparepart_sales"("userId");

-- CreateIndex
CREATE INDEX "spareparts_userId_idx" ON "spareparts"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "spareparts_userId_sku_key" ON "spareparts"("userId", "sku");

-- CreateIndex
CREATE INDEX "suppliers_userId_idx" ON "suppliers"("userId");

-- AddForeignKey
ALTER TABLE "exchange_rates" ADD CONSTRAINT "exchange_rates_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_flows" ADD CONSTRAINT "cash_flows_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "suppliers" ADD CONSTRAINT "suppliers_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "spareparts" ADD CONSTRAINT "spareparts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "products" ADD CONSTRAINT "products_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "expenses" ADD CONSTRAINT "expenses_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "invoice_counters" ADD CONSTRAINT "invoice_counters_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

